.form{
    gap: 24px;
    border: 2px solid black;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
    background-color:whitesmoke;
    margin: 50px;
}
.PT{
    width: 30px;
}
.Consultant{
    max-width: max-content;
}
.cl-left{
    margin-bottom: 40px;
}
span{
    margin-right: 10px;
}
.num{
    width: 40px;
    margin-right: 10px;
}
.heading{
    font-weight: bold;
    color: crimson;
    margin-bottom: 20px;
}
.checkbox{
    width: 15px;
    height: 15px;
}